asgiref==3.8.1
distlib==0.3.9
Django==3.2.25
filelock==3.17.0
gunicorn==23.0.0
numpy==2.3.0
packaging==25.0
pandas==2.3.0
pillow==11.1.0
platformdirs==4.3.6
python-dateutil==2.9.0.post0
pytz==2025.1
six==1.17.0
sqlparse==0.5.3
timedelta==2020.12.3
tzdata==2025.1
virtualenv==20.29.1
whitenoise==6.11.0
